.low-table-staff
  margin 0 20px 40px 20px
  border-top  1px solid #E1E1E5
  border-left  1px solid #E1E1E5
  border-right 1px solid #E1E1E5
  overflow auto
  max-height 1400px

.low-table-report-title
  height 72px
  display flex
  justify-content center
  background: #F0F3F7;

  span
    line-height 72px
    font-size: 24px;
    color: #6C6F7C;
    letter-spacing: 0;
    text-align: left;
    padding-left 20px

  >span:nth-child(1)
    width 20%

  >span:nth-child(2)
    width 30%

  >span:nth-child(3)
    width 50%

.low-table-report-item
  font-size: 28px;
  color: #0F0F0F;
  height 120px
  display flex
  justify-content center
  border-bottom 1px solid #E1E1E5

  span
    line-height 120px

  >span:nth-child(1)
    width 20%

  >span:nth-child(2)
    width 20%

  .item-issue
    width 60%
    display flex
    flex-direction column

    >span:nth-child(1)
      height 60px
      line-height 60px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

    >span:nth-child(2)
      height 60px
      line-height 60px
      text-align right
      color #448CD2

.modal-content
  overflow auto
  max-height 800px

 .modal-content div
  line-height 60px
  display flex
  justify-content center
  flex-direction row

  >span:nth-child(1)
    width 25%
    text-align right
    font-size: 24px;
    color: #6C6F7C;

  >span:nth-child(2)
    width 75%
    font-size: 28px;
    color: #0F0F0F;