.quota-item
  display flex
  justify-content center
  align-items center
  height 140px
  border-bottom: 1px solid #edeef1;

  .item-img
    width 30%
    padding-left 40px

    img
      width 100px


  .item-number
    width 70%
    display flex
    flex-direction column

    >span:nth-child(1)
      font-size 28px
      line-height 60px
      color #626262

    >span:nth-child(2)
      font-size 42px
      color #2d7ecd

    .item-per
      font-size 28px
