.index-container {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .empty-block-container {
    width: 100%;
    height: 30px;
    background-color: #F4F5F6;
  }

  .gauge-content {
    margin-right: 40px;
    margin-bottom: 62px;

    .gauge-container {
      width: 100%;
      height: 350px;
    }

    .gauge-title {
      font-family: PingFangSC-Medium;
      font-size: 26px;
      color: #0F0F0F;
      text-align: center;
      margin-top: -30px;
    }
  }

  .line-content {
    padding-top: 40px;
    margin: 0 40px;

    .line-container {
      width: 100%;
      height: 400px;
    }
  }

  .chart-header {
    display: flex;
    justify-content: space-between;
    
    .chart-header-item {

      &.chart-header-item-left {
        text-align: left;
      }

      &.chart-header-item-right {
        text-align: right;
      }

      .chart-header-item-label {
        font-family: PingFangSC-Regular;
        font-size: 32px;
        color: #0F0F0F;
        height: 50px;
        line-height: 50px;
      }

      .chart-header-item-span {
        font-family: Helvetica;
        font-size: 42px;
        color: #2D7ECD;

        span {
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: #2D7ECD;
        }
      }
    }
  }

  .pie-content {
    padding-top: 40px;
    margin: 0 40px;

    .pie-container {
      width: 100%;
      height: 400px;
    }
  }

  .footer-title {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #979797;
    height: 30px;
    line-height: 30px;
    margin-top: 4px;
  }

  .footer-num {
    font-family: PingFangSC-Semibold;
    font-size: 26px;
    color: #2D7ECD;
    height: 37px;
    line-height: 37px;
  }


  .supervision-content {
    padding-top: 40px;
    margin: 0 40px;
    display flex
    flex-direction row
    flex-wrap wrap
  }

  .staff-content {
    padding-top: 40px;
    margin: 0 20px;
  }

}
